@mixin mobile{
    @media screen and (max-width:600px) {
        @content
    }
};

@mixin tablet{
    @media screen and (max-width:1000px) {
        @content
    }
};

@mixin desktop{
    @media screen and (max-width:1550px) {
        @content
    }
};

.btn{
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover{
        background-color: #d3d3d3;
    }
}



.homeContainer{
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .homeWrapper{
        background-color: #fff;
        padding: 2rem;
        border-radius: 20px;
        width:80vw;
        height: 80vh;
        display: flex;
        min-height: 700px;
        @include desktop{
            flex-direction: column;
        }
        @include mobile{
            width: 100%;
            height: 100%;
            margin-top: 2rem;
            padding: 1rem;
            border-radius: 0;
        }
        .sidebarContainer{
            flex: 1;
            border-right: 1px solid lightgray;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            .sidebarInfo{
                width: 100%;
                margin-right: 2rem;
            }
            .navbarContainer{
                background-color: #eee;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 10px;
                @include mobile{
                    img{
                        display: none;
                    }
                }
                .user{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    .btn{
                        padding: 0.5rem 1rem;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        background-color: #ddd ;
                        cursor: pointer;
                    }
                    
                }
            }

            .searchContainer{
                
                border-bottom: 1px solid #ccc;
                .searchForm{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    input{
                        width: 100%;
                        padding: 1rem 2rem;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid #eee;
                    }
                }
                .userChat{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 2rem;
                    padding: 1rem 2rem 1rem 0;
                    cursor: pointer;
                    margin-top: 1rem;
                    font-weight: 500;
                    &:hover{
                        background-color: #eee;
                    }
                    @include desktop{
                        padding: 0.5rem 1rem 0.5rem 0;
                        margin-top: 0;
                    }
                }
            }
            
            .chatsContainer{
                margin-top: 1rem;
                .userChat{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 2rem;
                    padding: 1rem 2rem 1rem 0;
                    cursor: pointer;
                    img{
                        border-radius: 50%;
                    }
                    @include desktop{
                        padding: 0.5rem 1rem 0.5rem 0;
                        margin-top: 0;
                        display: none;
                    }
                    .userChatInfo {
                        p{
                            color: #888;
                        }
                        span{
                            font-weight: 600;
                            font-size: 20px;
                        } 

                    }
                    &:hover{
                        background-color: #eee;
                    }
                }
                .userTrue{
                    display: flex;
                }
                .dropdownBtn{
                    position: absolute;
                    top: 75px;
                    right: 10px;
                    display: none;
                    padding: 0.5rem 1rem;
                    background-color: transparent;
                    height: 40px;
                    font-size: 20px;
                    @include desktop{
                        display: block;
                    }
                }

            }
        }
        .chatContainer{
            flex: 2;
            border-right: 1px solid lightgray;
            height: 80%;
            @include desktop{
                flex: 4;
            }
            @include mobile{
                flex: 6;
                height: 60%;
            }
            .chatInfo{
                background-color: #eee;
                padding: 1rem 2rem;
                span{
                    @include desktop{
                    margin-left: 2rem; 
                    }
                    
                }
            }
            .inputContainer{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid lightgray;
                border-top: 1px solid #ddd;
                input{
                    padding: 1rem 2rem;
                    border: none;
                    font-size: 16px;
                    outline: none;
                    width: 100%;
                    &::placeholder{
                        color: #bbb;
                    }
                }
                .inputInfo{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    font-size: 18px;
                    input{
                        display: none;
                    }
                    label{
                        cursor: pointer;
                    }
                }
                .btn{
                    padding: 1rem 2rem;
                    border: none ;
                    border-radius: 10px;
                    cursor: pointer;
                    &:hover{
                        background-color: #e7e7e7;
                    }
                }
            }
            .messagesContainer{
                height: 100%;
                margin: 1rem;
                overflow: scroll;
                @include desktop{
                    height: 75%;
                }
                .message{
                    display: flex;
                    align-items: center;
                    

                    .messageInfo{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        margin: 0.5rem;
                        
                        img{
                            border-radius: 50%;
                            width: 35px;
                        }
                    }
                    .messageContent{
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        flex-direction: column;
                        p{
                            background-color: #ddd;
                            padding: 0.5rem 1rem; 
                            border-radius: 1rem;
                            max-width: max-content;
                            margin: 0.5rem;
                        }
                        img{
                            max-width: 60%;
                            @include desktop{
                                width: 50%;
                            }
                        }

                    }
                    &.owner{
                        flex-direction: row-reverse;
                        .messageContent{
                            align-items: flex-end;
                            p{
                                border-radius: 1rem 0 1rem 1rem;
                            }
                            
                        }
                    }
                }
            }
        }

    }
}
