.homeContainer{
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .homeWrapper{
        background-color: #fff;
        padding: 2rem;
        border-radius: 20px;
        width: 80%;
        height: 80%;
        display: flex;

        .sidebarContainer{
            flex: 1;
            border-right: 1px solid lightgray;

            .navbarContainer{
                background-color: #eee;
                margin-right: 2rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 10px;

                .user{
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    .btn{
                        padding: 0.5rem 1rem;
                        border-radius: 10px;
                        border: none;
                        outline: none;
                        background-color: #ddd ;
                        cursor: pointer;
                    }
                }
            }

            .searchContainer{
                margin-right: 2rem;
                border-bottom: 1px solid #ccc;
                .searchForm{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    input{
                        width: 100%;
                        padding: 1rem 2rem;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid #eee;
                    }
                }
                .userChat{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 3rem;
                    padding: 1rem 2rem;
                    cursor: pointer;
                    margin-top: 1rem;
                    font-weight: 500;
                    &:hover{
                        background-color: #eee;
                    }
                }
            }
            
            .chatsContainer{
                margin-top: 1rem;
                margin-right: 2rem;
                .userChat{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 3rem;
                    padding: 1rem 2rem;

                    .userChatInfo {
                        p{
                            color: #888;
                        }
                        span{
                            font-weight: 600;
                            font-size: 20px;
                        } 

                    }
                    &:hover{
                        background-color: #eee;
                    }
                }
            }
        }
        .chatContainer{
            flex: 2;
            border-right: 1px solid lightgray;
            .chatInfo{
                background-color: #eee;
                padding: 1rem 2rem;
            }
            .inputContainer{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid lightgray;
                border-top: 1px solid #ddd;
                input{
                    padding: 1rem 2rem;
                    border: none;
                    font-size: 20px;
                    outline: none;
                    width: 100%;
                    &::placeholder{
                        color: #bbb;
                    }
                }
                .inputInfo{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    font-size: 18px;
                    input{
                        display: none;
                    }
                    label{
                        cursor: pointer;
                    }
                }
                .btn{
                    padding: 1rem 2rem;
                    border: none ;
                    border-radius: 10px;
                    cursor: pointer;
                    &:hover{
                        background-color: #e7e7e7;
                    }
                }
            }
            .messagesContainer{
                height: calc(100% - 108px);
            }
        }
    }
}